In [43]:
import pandas as pd
import numpy as np

#from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, roc_curve, auc

from sklearn import tree
from sklearn.model_selection import GridSearchCV

import matplotlib.pyplot as plt

In [44]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly 
import plotly.offline as pyoff
import plotly.figure_factory as ff
from plotly.offline import init_notebook_mode, iplot, plot
import plotly.graph_objs as go

In [45]:
import squarify 
%matplotlib notebook

init_notebook_mode(connected=True)

In [46]:
import warnings
warnings.filterwarnings('ignore')
from scipy.stats.mstats import winsorize
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split

In [47]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier ,RandomForestClassifier ,GradientBoostingClassifier

from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import Ridge,Lasso
from sklearn.metrics import roc_auc_score ,mean_squared_error,accuracy_score,classification_report,roc_curve,confusion_matrix
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
pd.set_option('display.max_columns',None)
import six
import sys
sys.modules['sklearn.externals.six'] = six

In [48]:
from plotly import tools
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, roc_curve, auc

from sklearn import tree
from sklearn.model_selection import GridSearchCV

In [49]:
data=pd.read_csv('UniversalBank.csv')

In [50]:
data.isnull().sum()

ID                   0
Age                  0
Experience           0
Income               0
ZIPCode              0
Family               0
CCAvg                0
Education            0
Mortgage             0
PersonalLoan         0
SecuritiesAccount    0
CDAccount            0
Online               0
CreditCard           0
dtype: int64

In [77]:
data.head(52)

,ID,Age,Experience,Income,ZIPCode,Family,CCAvg,Education,Mortgage,PersonalLoan,SecuritiesAccount,CDAccount,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,NA,9,180,93023,1,8.9,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.4,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.1,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.8,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.5,2,0,0,0,0,1,0
14,15,NA,41,112,91741,1,2.0,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.5,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.7,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.4,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.1,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.5,2,0,0,1,0,0,1
20,21,56,31,25,94015,4,0.9,2,111,0,0,0,1,0
21,22,57,27,63,90095,3,2.0,3,0,0,0,0,1,0
22,23,29,5,62,90277,1,1.2,1,260,0,0,0,1,0
23,24,44,18,43,91320,2,0.7,1,163,0,1,0,0,0
24,25,36,11,152,95521,2,3.9,1,159,0,0,0,0,1
25,26,43,19,29,94305,3,0.5,1,97,0,0,0,1,0
26,27,40,16,83,95064,4,0.2,3,0,0,0,0,0,0
27,28,46,20,158,90064,1,2.4,1,0,0,0,0,1,1
28,29,56,30,48,94539,1,2.2,3,0,0,0,0,1,1
29,30,38,13,119,94104,1,3.3,2,0,1,0,1,1,1
30,31,59,35,35,93106,1,1.2,3,122,0,0,0,1,0
31,32,40,16,29,94117,1,2.0,2,0,0,0,0,1,0
32,33,53,28,41,94801,2,0.6,3,193,0,0,0,0,0
33,34,30,6,18,91330,3,0.9,3,0,0,0,0,0,0
34,35,31,5,50,94035,4,1.8,3,0,0,0,0,1,0
35,36,48,24,81,92647,3,0.7,1,0,0,0,0,0,0
36,37,59,35,121,94720,1,2.9,1,0,0,0,0,0,1
37,38,51,25,71,95814,1,1.4,3,198,0,0,0,0,0
38,39,42,18,141,94114,3,5.0,3,0,1,1,1,1,0
39,40,38,13,80,94115,4,0.7,3,285,0,0,0,1,0
40,41,57,32,84,92672,3,1.6,3,0,0,1,0,0,0
41,42,34,9,60,94122,3,2.3,1,0,0,0,0,0,0
42,43,32,",",132,90019,4,1.1,2,412,1,0,0,1,0
43,44,39,15,45,95616,1,0.7,1,0,0,0,0,1,0
44,45,46,20,104,94065,1,5.7,1,0,0,0,0,1,1
45,46,57,31,52,94720,4,2.5,1,0,0,0,0,0,1
46,47,39,14,43,95014,3,0.7,2,153,0,0,0,1,0
47,48,37,12,194,91380,4,0.2,3,211,1,1,1,1,1
48,49,56,26,81,95747,2,4.5,3,0,0,0,0,0,1
49,50,40,",",49,92373,1,1.8,1,0,0,0,0,0,1
50,51,32,8,NA,92093,4,0.7,2,0,0,1,0,1,0
51,52,61,37,131,94720,1,2.9,1,0,0,0,0,1,0

In [52]:
data.dtypes

ID                     int64
Age                   object
Experience            object
Income                object
ZIPCode                int64
Family                 int64
CCAvg                float64
Education              int64
Mortgage               int64
PersonalLoan           int64
SecuritiesAccount      int64
CDAccount              int64
Online                 int64
CreditCard             int64
dtype: object

In [79]:
data.replace('NA',np.nan, inplace = True)

In [80]:
data.isnull().sum()

ID                    0
Age                   2
Experience            0
Income               13
ZIPCode               0
Family                0
CCAvg                 0
Education             0
Mortgage              0
PersonalLoan          0
SecuritiesAccount     0
CDAccount             0
Online                0
CreditCard            0
dtype: int64

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 5000 non-null   int64
 1   Age                5000 non-null   object
 2   Experience         5000 non-null   object
 3   Income             5000 non-null   object
 4   ZIPCode            5000 non-null   int64
 5   Family             5000 non-null   int64
 6   CCAvg              5000 non-null   float64
 7   Education          5000 non-null   int64
 8   Mortgage           5000 non-null   int64
 9   PersonalLoan       5000 non-null   int64
 10  SecuritiesAccount  5000 non-null   int64
 11  CDAccount          5000 non-null   int64
 12  Online             5000 non-null   int64
 13  CreditCard         5000 non-null   int64
dtypes: float64(1), int64(10), object(3)
memory usage: 547.0+ KB

In [73]:
data['Income'].value_counts().unique()

array([84, 83, 82, 81, 78, 77, 74, 70, 69, 67, 65, 64, 63, 62, 61, 60, 59,
       58, 57, 55, 54, 53, 52, 51, 47, 46, 45, 44, 43, 41, 38, 37, 35, 34,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [84]:
data['Age'].value_counts()

35    151
43    149
52    145
54    143
58    143
50    138
30    136
41    136
56    135
34    133
39    133
57    132
59    132
51    129
46    127
45    127
60    127
42    126
55    125
31    125
40    125
62    123
29    123
61    122
44    121
33    120
32    120
48    118
38    115
49    115
47    113
53    112
63    108
36    107
37    106
28    103
27     91
65     80
26     78
64     78
25     53
24     28
66     24
23     12
67     11
Name: Age, dtype: int64

In [71]:
data['Experience'].value_counts()

32    154
20    148
9     147
5     146
23    144
35    143
25    142
28    138
18    137
19    135
26    134
24    131
3     129
14    127
30    126
16    126
17    125
34    125
27    125
22    124
29    124
7     120
8     119
15    119
6     119
10    118
33    117
13    117
11    116
37    116
36    114
21    113
4     113
31    104
12    102
38     88
2      85
39     85
1      74
0      66
40     57
41     43
-1     33
-2     15
42      8
-3      4
43      3
,       2
Name: Experience, dtype: int64

In [89]:
data['Experience']=data['Experience'].astype(float)

In [90]:
data['Experience'] = data['Experience'].replace(',', np.nan)

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 5000 non-null   int64
 1   Age                4998 non-null   object
 2   Experience         4998 non-null   object
 3   Income             4987 non-null   object
 4   ZIPCode            5000 non-null   int64
 5   Family             5000 non-null   int64
 6   CCAvg              5000 non-null   float64
 7   Education          5000 non-null   int64
 8   Mortgage           5000 non-null   int64
 9   PersonalLoan       5000 non-null   int64
 10  SecuritiesAccount  5000 non-null   int64
 11  CDAccount          5000 non-null   int64
 12  Online             5000 non-null   int64
 13  CreditCard         5000 non-null   int64
dtypes: float64(1), int64(10), object(3)
memory usage: 547.0+ KB

In [93]:
data.isnull().sum()

ID                    0
Age                   2
Experience           54
Income               13
ZIPCode               0
Family                0
CCAvg                 0
Education             0
Mortgage              0
PersonalLoan          0
SecuritiesAccount     0
CDAccount             0
Online                0
CreditCard            0
dtype: int64

In [92]:
data['Experience']=data.apply(lambda x: np.nan if (x.Experience<0) else x.Experience, axis=1)

In [94]:
data.dtypes

ID                     int64
Age                   object
Experience           float64
Income                object
ZIPCode                int64
Family                 int64
CCAvg                float64
Education              int64
Mortgage               int64
PersonalLoan           int64
SecuritiesAccount      int64
CDAccount              int64
Online                 int64
CreditCard             int64
dtype: object

In [95]:
data['Age']=data['Age'].astype(float)

In [96]:
data['Income']=data['Income'].astype(float)

In [97]:
data.dtypes

ID                     int64
Age                  float64
Experience           float64
Income               float64
ZIPCode                int64
Family                 int64
CCAvg                float64
Education              int64
Mortgage               int64
PersonalLoan           int64
SecuritiesAccount      int64
CDAccount              int64
Online                 int64
CreditCard             int64
dtype: object

In [99]:
data=data.dropna()

In [100]:
data.isnull().sum()

ID                   0
Age                  0
Experience           0
Income               0
ZIPCode              0
Family               0
CCAvg                0
Education            0
Mortgage             0
PersonalLoan         0
SecuritiesAccount    0
CDAccount            0
Online               0
CreditCard           0
dtype: int64

In [101]:
data['Age']=data['Age'].astype(int)

In [103]:
data['Experience']=data['Experience'].astype(int)

In [106]:
data['Income']=data['Income'].astype(int)

In [107]:
data['CCAvg']=data['CCAvg'].astype(int)

In [108]:
data.dtypes

ID                   int64
Age                  int64
Experience           int64
Income               int64
ZIPCode              int64
Family               int64
CCAvg                int64
Education            int64
Mortgage             int64
PersonalLoan         int64
SecuritiesAccount    int64
CDAccount            int64
Online               int64
CreditCard           int64
dtype: object

In [3]:
values = [1, 2, 3, 4]
numbers = set(values)

def checknums(num):
	if num in numbers:
		return True
	else:
		return False

for i in filter(checknums, values):
	print (i)

1
2
3
4.5

In [5]:
counter = {}

def addToCounter(country):
	if country in counter:
		counter[country] += 1
	else:
		counter[country] = 1

addToCounter('China')
addToCounter('Japan')
addToCounter('china')

print len(counter)

SyntaxError: invalid syntax (<ipython-input-5-fca6a749b3e7>, line 13)

In [9]:
var1 = 'Geeks'
  
print ("Original String :-", var1)
  
print ("Updated String :- ", var1+ 'for' + 'Geeks')

Original String :- Geeks
Updated String :-  GeeksforGeeks

In [12]:
list = ['a', 'b', 'c']*-3
print (list)

[]

In [13]:
dictionary = {'GFG' : 'geeksforgeeks.org',
			'google' : 'google.com',
			'facebook' : 'facebook.com'
			}
del dictionary['google'];
for key, values in dictionary.items():
	print(key)
dictionary.clear();
for key, values in dictionary.items():
	print(key)
del dictionary;
for key, values in dictionary.items():
	print(key)

GFG
facebook

NameError: name 'dictionary' is not defined